.stopwatch-container {
  background: yellow;
  display: flex;
  justify-content: space-around;
  width: auto;
  max-width: 600px;
}

.time-box {

  padding: 1rem;
  margin: 2rem;
  line-height: 0.25rem;
}
