*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.task-input {
  width: 500px;
  padding: 1.5rem 2.5rem;
  font-size: 2rem;

}

.start-btn {
  background: none;
  padding: 1rem 2rem;
  margin: 7rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  background: green;
  color: white;
  border: 1px solid green;
  transition: 0.3s ease-in-out;
  outline: none;
}

.start-btn:hover {
  background: white;
  color: green;
}
