*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2.3px;
}

:root {
  --dark: #212121;
  --secondary: #ded22a;
  --primary: #5730b3;
  --light: #8c62f0;
  --white: #ebeada;
  --transition: 0.3s ease;
}


body {
  background: var(--white);

}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.navbar {
  background: var(--primary);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  font-size: 1.7rem;
  color: var(--white);
  padding: 1rem 2rem;
  font-weight: 400;

}

.start-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.task-input {
  width: 600px;
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
  border: 1px solid var(--dark);
  background: var(--white);
  color: var(--dark);

}

.task-input::placeholder {
  color: var(--dark);
  opacity: 0.3;
}

.btn {
  background: none;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  outline: none;
  transition: var(--transition);
  /*border: 1px solid var(--dark);*/
  border: 1px solid var(--dark);
  border-radius: 10px;
}

.btn:hover {
  background: var(--dark);
  color:var(--white);
}

.primary-btn {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.primary-btn:hover {
  color: var(--white);
  background: var(--primary);
}

.start-btn {
  background: none;
  padding: 1rem 2rem;
  margin: 7rem;
  font-weight: bold;
  font-size: 2rem;
  background: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
}

.start-btn:hover {
  background: var(--white);
  color: var(--primary);
}

.footer {
  background: var(--dark);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: var(--white);
  padding: 1rem;
  font-size: 1.2rem;
}
