*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2.3px;
}

:root {
  --dark: #212121;
  --less-dark: #3d3d3d; /*for dark theme only */
  --primary: #5730b3;
  --light: #8c62f0;
  --white: #ebeada;
  --transition: 0.3s ease;
}



.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: var(--transition);
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.7rem;
  padding: 1rem 2rem;
  font-weight: 400;
}

.toggle-mode {
  padding: 1.5rem;
  cursor: pointer;
}

.material-icons {
  font-size: 2.5rem;
  transition: var(--transition);
}

.start-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.task-input {
  width: 600px;
  padding: 1.5rem 2.5rem;
  font-size: 2rem;
}

.task-input::placeholder {
  opacity: 0.3;
}

.btn {
  background: none;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  outline: none;
  transition: var(--transition);
  border: 1px solid;
  border-radius: 10px;
}

.start-btn {
  background: none;
  padding: 1rem 2rem;
  margin: 7rem;
  font-weight: bold;
  font-size: 2rem;
}



.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer p {
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 1rem;
}
