.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.stopwatch-container {
  background: #67aae6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.heading {
  margin-top: 4rem;
}

.timer h1 {
  font-size: 3.5rem;
}

.timer {
  padding: 1rem;
  margin: 2rem;
  line-height: 0.25rem;

}

.btn-group {
  margin-top: 2rem;
}

.seconds {
  padding-left: 0.2rem;
  font-size: 1.7rem;

}

.btn {
  background: none;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  outline: none;
}

.stop-btn {
  border: 1px solid red;
  color: red;
}

.reset-btn {
  border: 1px solid purple;
  color: purple;
}

.pause-btn {
  border: 1px solid #d9b500;
  color: #d9b500;
}

.resume-btn {
  border: 1px solid green;
  color: green;
}

.task-history-container {
  margin: 5rem auto;
}

.task-history-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.task-history-list {
  width: auto;
  border: 1px solid #333;
  max-height: 650px;
  overflow-y: scroll;
}

.task {
  list-style-type: none;
  background: #abe4ff;
  padding: 1rem 2rem;
  margin: 2.5rem;
  font-size: 1.5rem;
  box-shadow: 2px 2px 10px #333;
}

.bold {
  font-weight: bolder;
}

.hide {
  display: none;
}

.success {
  color: green;
}
