.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.stopwatch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 200px;
  /*border-radius: 50%;*/
  /*border: 1px solid var(--dark);*/
}

.top-btn-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.task-heading {
  margin-top: 10rem;
}

.task-heading h1 {
  font-size: 3.5rem;
  color: var(--primary);

}

.timer h1 {
  font-size: 10rem;

}

.timer span {
  color: var(-dark);
}

.timer {
  padding: 1rem;
}

.btn-group {
  margin-top: 2rem;
}

.seconds {
  padding-left: 0.2rem;
  font-size: 2.7rem;
}



.task-history-container {
  margin: 5rem auto;
}

.task-history-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.task-history-list {
  width: auto;
  max-height: 450px;
  overflow-y: scroll;
}


.task-history-list::-webkit-scrollbar {
  width: 20px;
}

.task-history-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--dark);
  border-radius: 10px;
  border: 1px solid var(--dark);
  background: var(--white);
}

.task-history-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--dark);
}

.task {
  list-style-type: none;
  background: white;
  border-left: 8px solid var(--light);
  padding: 1rem 2rem;
  margin: 1.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.task span,
.remove-btn{
  margin: 0.5rem 1.5rem;
}

.remove-btn {
  color: var(--light);
  cursor: pointer;
  transition: var(--transition);
}

.remove-btn:hover {
  color: var(--primary);
}

.bold {
  font-weight: bolder;
}

.hide {
  display: none;
}

.success {
  color: var(--primary);

}
