.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.stopwatch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 200px;
}

.top-btn-group {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
}


.task-heading h1 {
  font-size: 3.5rem;
  margin-top: 8rem;
}

.timer h1 {
  font-size: 10rem;
}

.timer span {
  color: var(-dark);
}

.timer {
  padding: 1rem;
}

.btn-group {
  margin-top: 2rem;
}

.seconds {
  padding-left: 0.2rem;
  font-size: 2.7rem;
}

.task-history-container {
  margin: 5rem 1rem;
}

.task-history-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.task-history-list {
  width: auto;
  max-height: 450px;
  overflow-y: scroll;
}


.task-history-list::-webkit-scrollbar {
  width: 20px;
}

.task-history-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--dark);
  border-radius: 10px;
  background: var(--white);
}

.task-history-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.task {
  list-style-type: none;
  border-left: 8px solid var(--light);
  padding: 1rem 2rem;
  margin: 1.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}


.task span,
.remove-btn {
  margin: 0.5rem 1.5rem;
}

.remove-btn {
  color: var(--light);
  cursor: pointer;
  transition: var(--transition);
}

.remove-btn:hover {
  color: var(--primary);
}

.bold {
  font-weight: bolder;
}

.hide {
  display: none;
}

.success {
  text-align: center;
}

@media(max-width: 800px) {
  .task {
    font-size: 1rem;
    margin: 0.8rem 0.5rem;
  }

  .task span,
  .remove-btn {
    margin: 0.5rem 0.7rem;
  }

  .task-heading h1 {
    font-size: 3rem;
    margin-top: 8rem;
  }

  .timer h1 {
    font-size: 8rem;
  }
}

@media(max-width: 650px) {

  .task-heading h1 {
    font-size: 2.5rem;
  }

  .timer h1 {
    font-size: 6rem;
  }

  .task-history-container h2 {
    font-size: 1.5rem;
  }

  .task-history-list {
    max-height: 450px;
    width: 95%;
  }
}

@media(max-width: 500px) {
  .top-btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .task-heading h1 {
    font-size: 2.3rem;
  }

  .timer h1 {
    font-size: 5rem;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
  }

  .success {
    font-size: 1rem;
    text-align: center;
  }

  .start-again-btn {
  font-size: 1rem
  }

  .task-history-list {
    width: auto;
  }

  .task {
    flex-direction: column;
  }

  .remove-btn {
    text-align: right;
  }
}

@media(max-width: 350px) {
  .task-heading h1 {
    font-size: 2rem;
    margin-top: 6rem;
  }

  .timer h1 {
    font-size: 3.7rem;
  }
}
